@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #ededed;
        --foreground: #171717;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.register ul li a {
    color: black;
}

.register ul li a:hover {
    color: white;
}

.signup-form div * {
    color: rgb(75, 75, 75);
}

.signup-form input {
    border: gray 1px solid;
    border-radius: 10px;
    padding: 10px 15px;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
    /* Firefox */
}

@media (max-width: 1280px) {
    .inputs {
        width: 100% !important;
    }
    .brands,
    .purchase {
        flex-direction: column !important;
    }
    .rentMain {
        flex-direction: column !important;
    }
    .rentMain .map, .rentMain .details{
        width: 100% !important;
        margin-top: 20px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background-color: purple !important;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background-color: #800080 !important;
    opacity: 1;
}